services:
  phntm_bridge:
    image: phntm/bridge:humble
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: humble
    container_name: phntm-bridge
    hostname: phntm-bridge.local
    restart: unless-stopped
    privileged: true
    network_mode: host
    ipc: host
    volumes:
      - ./phntm_bridge.yaml:/ros2_ws/phntm_bridge_params.yaml
      - ./phntm_bridge.yaml:/ros2_ws/phntm_agent_params.yaml
      - /var/run:/host_run
      - /tmp:/tmp
    devices:
      - /dev:/dev
    command: ros2 launch phntm_bridge client_agent_launch.py
